/*Restyling for dark theme*/
/*
Background: 121212 earlier 323232
Content: 1D1D1D
Content-Primary: BB86FC = RGB(10, 174, 89) --> RGB(187, 154, 252)
Hover-state-primary: (34, 194, 109) = #1ec26d --> RGB(207, 174, 272) = #cfaeff
Content-Secondary: 14ffec
text: ffffff
*/
body {
  background-color: #121212;
  color: white;
}

.bg-dark {
  background-color: #1D1D1D;
}

.bg-primary {
  background-color: #BB86FC;
}

.bg-secondary {
  background-color: #14ffec;
}

/*Restyling Elements*/

hr {
  border-top-color: rgba(0, 0, 0, 0.2);
}

footer {
  background-color: #1D1D1D;
}

/* Resytling jumbotron */
.jumbotron {
  background-color: #1D1D1D;
}

/*Restyle table*/
.table thead th {
  border-bottom-color: rgb(0, 0, 0, 0.2);
  border-top-color: rgb(0, 0, 0, 0.2);
}

.table-dark td, .table th {
  border-color: rgb(0, 0, 0, 0.2);
}



/*Overriding body/bootstrap*/
.border-dark .card-header {
  color: #1D1D1D;
}

.card {
  padding: 0;
}
